.ipynb_checkpoints
w2/sentiment_analysis/webtoon_analysis/webtoon_comments.db
w2/sentiment_analysis/training.1600000.processed.noemoticon.csv
w2/sentiment_analysis/training.1600000.processed.noemoticon.csv.zip
w2/sentiment_analysis/comments.csv